# Ignore node_modules on client and server
client/node_modules/
server/node_modules/

# Ignore IDE/Editor Specific Configuration Files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore build files
client/dist/
server/dist/
